a:link {
    color: yellow;
}

a:visited {
    color: purple;
}

a:hover {
    color: white;
}






header { 
    padding: 150px;
    background-image: url("images/background.jpeg");
    background-color: #d6d6f8;
  
}



body {
 
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "width" 100;
    text-align: center;

    height: 100%;

    margin: 0;
      


    background-color: #e5f7e0;
}



nav {
    list-style-type: none;
    height: 100%;
    position: absolute;
    float: left;
    width: 20%;
    text-align: center;
    background-color: #2b2b2b;
    color: rgb(190, 190, 190);
    overflow: auto;
   
    
    /* z-index: 1; */
    /* left: 0; */


    margin: 0;
    padding: 0;
    
    font-family: "Wix Madefor Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
      


}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  



/* .navbar {
    width: 20%;
    float: left;
    background-color: #272529
} */

/* nav a:hover {
    color: #272529

} */





article {
    width: 80%;
    text-align: center;
    float: right;
    background-color: #e5f7e0;

    height: 100%;



    font-family: "Wix Madefor Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;


}

section {
    text-align: center;
    height: 100%;
}

h1 {

    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border-style: ridge;
    border-width: 5px solid black;
    outline: #424249 solid 10px;
    border-radius: 10px;
    text-align: center;
    font-family: "Wix Madefor Display", serif;
    color: black;
    background: rgba(247, 244, 244, 0.885);



      
      

    
    
}

h2 {
    text-decoration: overline;
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

p {
    font-family: "Wix Madefor Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}




img {
    border-style: ridge;
    border-width: 5px;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.column {
    float: left;
    width: 50%;
    padding: 0px;
    height: 100vh;

}





.card-container {

    display: inline-flex;
    flex-wrap: wrap;
    
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 0;
}

.box img {
    width: 400px;
    height: auto;
}



.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-basis-item-50 {
    flex-basis: 50%;
}

.h-80 {
    height: 300px;
}

.background-1 {
    background: #a7f7b4;
}

.background-2 {
    background: #ccfacc;
}




@media screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    img {
        max-height: 75px;
        max-width: 75px;
    }

    nav {
        font-size: 8px;
        overflow: auto;

    }

    p {
        font-size: 15px;
    }

}

